In [6]:
from bs4 import BeautifulSoup
import requests
import datetime
import time
import smtplib

In [29]:
import csv
import os
desktop = os.path.join(os.path.join(os.environ["USERPROFILE"]), "OneDrive", "Desktop")
file_path = os.path.join(desktop, "amazonwebscrapping.csv")

headers=['Title', 'Price','Date']

Data=[title, price, today]

with open(file_path, 'w', newline='', encoding='UTF8') as f:
    writer=csv.writer(f)
    writer.writerow(headers)
    writer.writerow(Data)

In [33]:
import pandas as pd

df=pd.read_csv(r'C:\Users\nikhi\OneDrive\Desktop\amazonwebscrapping.csv')
df

                                               Title  Price        Date
0  Amazon Brand - Symbol Men's Cotton Rich Solid ...    349  2025-08-06

In [ ]:
def check_price():
    url='https://www.amazon.in/Amazon-Brand-Symbol-Polo_SS19PLS2_Fog-Teal_Small/dp/B07MZG82PV/ref=sr_1_1_sspa?crid=3LTFXMVT729G3&dib=eyJ2IjoiMSJ9.QmdYXoHQ2MaiiVTNFUuhy_U48j0HpUbFDWW7PrELe2YHXBAPXDIQvfhHhs3s1VlyMgYppl1-sxFrWT32sjxVWVNEtzMlWeQnx7m4MjTNEmef7sQceDrsk1y67j65RwIQ5bRUQo9WI7ctXT_0Gb8h15x9DizwgqZJWEe4BITcPyCmIgKukC1kQdTNa2x-Y2YzHOFnOIDP6M7t5N0etscrSBAuAkIY2-Hzv6kgDqhFWEwDxI6fBcq91VKBytDkKFa0OebAcjguWybD2v5295tPd7ZVTzwgTJPKvJGIqwqz0eQ.CYCSZqHYMr7LtOgikEIkEtOm4K8G2nTHoaXzam2iwG4&dib_tag=se&keywords=t-shirt+for+man&qid=1754441489&sprefix=t-shir%2Caps%2C203&sr=8-1-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1'

    headers={"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36"}

    page= requests.get(url=url, headers=headers)

    soup1=BeautifulSoup(page.content, 'html.parser')

    soup2=BeautifulSoup(soup1.prettify(), 'html.parser')

    title=soup2.find(id="productTitle").get_text()

    price=soup2.find(class_="a-price-whole").get_text()

    price=price.strip()
    title=title.strip()

    today=datetime.date.today()

    import csv
    import os
    desktop = os.path.join(os.path.join(os.environ["USERPROFILE"]), "OneDrive", "Desktop")
    file_path = os.path.join(desktop, "amazonwebscrapping.csv")

    headers=['Title', 'Price','Date']

    Data=[title, price, today]

    with open(file_path, 'a+', newline='', encoding='UTF8') as f:
        writer=csv.writer(f)
        writer.writerow(Data)

In [35]:
while True:
    check_price()
    time.sleep(5)

KeyboardInterrupt:

In [36]:
import pandas as pd

df=pd.read_csv(r'C:\Users\nikhi\OneDrive\Desktop\amazonwebscrapping.csv')
df

                                               Title  Price        Date
0  Amazon Brand - Symbol Men's Cotton Rich Solid ...    349  2025-08-06
1  Amazon Brand - Symbol Men's Cotton Rich Solid ...    349  2025-08-06
2  Amazon Brand - Symbol Men's Cotton Rich Solid ...    349  2025-08-06
3  Amazon Brand - Symbol Men's Cotton Rich Solid ...    349  2025-08-06
4  Amazon Brand - Symbol Men's Cotton Rich Solid ...    349  2025-08-06
5  Amazon Brand - Symbol Men's Cotton Rich Solid ...    349  2025-08-06
6  Amazon Brand - Symbol Men's Cotton Rich Solid ...    349  2025-08-06
7  Amazon Brand - Symbol Men's Cotton Rich Solid ...    349  2025-08-06