<h1 align="center"> T20 World Cup Cricket Data Pre Processing </h1>

In [3]:
import zipfile
import os
import json
import pandas as pd

<h4 style="color:blue">(1) Process Match Results</h4>

In [4]:
zippath=r'C:\Users\nikhi\Downloads\t20_json_files.zip'

path=r'C:\Users\nikhi\Downloads\t20_json'

os.makedirs(path, exist_ok=True)

with zipfile.ZipFile( zippath, 'r') as f:
    f.extractall(path=path)

print(f'files extracted to: {len(os.listdir(path))}')

files extracted to: 2

In [5]:
with open(r'C:\Users\nikhi\Downloads\t20_json\t20_json_files\t20_wc_match_results.json') as f:
    data=json.load(f)

In [6]:
df=pd.DataFrame(data[0]['matchSummary'])

In [7]:
df['matchDate']=pd.to_datetime(df['matchDate'])

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df.rename(columns={'scorecard': 'match_id'}, inplace=True)

df.columns

Index(['team1', 'team2', 'winner', 'margin', 'ground', 'matchDate',
       'match_id'],
      dtype='object')

In [10]:
match_id_dic={}

for index,row in df.iterrows():
    key1=row['team1'] + ' Vs ' + row['team2']
    key2=row['team2'] + ' Vs ' + row['team1']

    match_id_dic[key1]=row['match_id']
    match_id_dic[key2]=row['match_id']

In [11]:
df.to_csv(r'C:\Users\nikhi\Downloads\t20_json\t20_csv_files\match_summary.csv', index=False)

<h4 style="color:blue">(2) Batting Summary

In [12]:
with open(r'C:\Users\nikhi\Downloads\t20_json\t20_json_files\t20_wc_batting_summary.json') as f:
    data=json.load(f)
    
    all_records=[]

    for rec in data:
        all_records.extend(rec['battingSummary'])

df_batting=pd.DataFrame(all_records)

In [13]:
df_batting['out/not_out']= df_batting['dismissal'].apply( lambda  x:'Out' if len(x)>0 else 'not_out')

In [14]:
df_batting.drop(columns='dismissal', inplace=True)

In [15]:
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('â€', ''))
df_batting['batsmanName'] = df_batting['batsmanName'].apply(lambda x: x.replace('\xa0', ''))

In [16]:
match_id_dic['Namibia Vs Sri Lanka']

'T20I # 1823'

In [17]:
df_batting['match_id']=df_batting['match'].map(match_id_dic)

In [18]:
df_batting.to_csv(r'C:\Users\nikhi\Downloads\t20_json\t20_csv_files\Batting_summary.csv', index=False)

<h4 style="color:Blue">(3) Bowling Summary</h4>

In [19]:
with open(r'C:\Users\nikhi\Downloads\t20_json\t20_json_files\t20_wc_bowling_summary.json') as f:
    data=json.load(f)
    all_records=[]
    for rec in data:
        all_records.extend(rec['bowlingSummary'])

In [20]:
df_bowling=pd.DataFrame(all_records)

In [21]:
df_bowling['match_id']= df_bowling['match'].map(match_id_dic)

In [22]:
df_bowling.to_csv(r'C:\Users\nikhi\Downloads\t20_json\t20_csv_files\Bowling_summary.csv', index=False)

<h4 style="color:blue">(4) Process Player Information</h4>

In [23]:
with open(r'C:\Users\nikhi\Downloads\t20_json\t20_json_files\t20_wc_player_info.json') as f:
    data=json.load(f)

In [24]:
df_players= pd.DataFrame(data)

In [25]:
df_players['name'] = df_players['name'].apply(lambda x: x.replace('â€', ''))
df_players['name'] = df_players['name'].apply(lambda x: x.replace('†', ''))
df_players['name'] = df_players['name'].apply(lambda x: x.replace('\xa0', ''))

In [26]:
df_players.tail()

,name,team,battingStyle,bowlingStyle,playingRole,description
214,Tabraiz Shamsi,South Africa,Right hand Bat,Left arm Wrist spin,Bowler,A left-arm wristspin bowler with ample variati...
215,Phil Salt,England,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Phil Salt's fearless ball-striking at the top ...
216,Chris Jordan,England,Right hand Bat,Right arm Fast medium,Bowler,"Chris Jordan, a fast bowler with a level-heade..."
217,Regis Chakabva(c),Zimbabwe,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,"A doughty wicketkeeper-batsman, Regis Chakabva..."
218,Mehidy Hasan Miraz,Bangladesh,Right hand Bat,Right arm Offbreak,Allrounder,Mehedi Hasan Miraz has emerged as one of the b...

In [27]:
df_players.to_csv(r'C:\Users\nikhi\Downloads\t20_json\t20_csv_files\Players_info.csv', index=False)

In [29]:
df_batting.shape

(699, 11)

In [30]:
df_players

,name,team,battingStyle,bowlingStyle,playingRole,description
0,Michael van Lingen,Namibia,Left hand Bat,Left arm Medium,Bowling Allrounder,
1,Divan la Cock,Namibia,Right hand Bat,Legbreak,Opening Batter,
2,Jan Nicol Loftie-Eaton,Namibia,Left hand Bat,"Right arm Medium, Legbreak",Batter,
3,Stephan Baard,Namibia,Right hand Bat,Right arm Medium fast,Batter,
4,Gerhard Erasmus(c),Namibia,Right hand Bat,Right arm Offbreak,Allrounder,
...,...,...,...,...,...,...
214,Tabraiz Shamsi,South Africa,Right hand Bat,Left arm Wrist spin,Bowler,A left-arm wristspin bowler with ample variati...
215,Phil Salt,England,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,Phil Salt's fearless ball-striking at the top ...
216,Chris Jordan,England,Right hand Bat,Right arm Fast medium,Bowler,"Chris Jordan, a fast bowler with a level-heade..."
217,Regis Chakabva(c),Zimbabwe,Right hand Bat,Right arm Offbreak,Wicketkeeper Batter,"A doughty wicketkeeper-batsman, Regis Chakabva..."
218,Mehidy Hasan Miraz,Bangladesh,Right hand Bat,Right arm Offbreak,Allrounder,Mehedi Hasan Miraz has emerged as one of the b...

In [31]:
use salesdb

SyntaxError: invalid syntax (307108596.py, line 1)